<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitting Chart</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <p id="displaydata">Current date: 2023-12-13</p>
    <input type="date" id="datepick" name="datepick" onchange={handledate(this.value)}>
    <canvas id="sittingChart" width="21600" height="100" style="border:1px solid #000;"></canvas>
    <svg id = "pi-char" width="200" height="200"></svg>


    <script>
        var chooseDate = '2023-12-13'
        var canvas = document.getElementById("sittingChart");
        var ctx = canvas.getContext("2d");
        var widthday = 1;
        var truepos = 20;
        var falsepos = 80;

        const time2ind = (e) => {
            var hour = parseInt(e.substring(0,2))
            var min = parseInt(e.substring(3,5))
            var sec = parseInt(e.substring(6,8))
            console.log(hour,min,sec)

            return (hour*3600+min*60+sec)/4
        }

        const drawdata = () =>{
            ctx.clearRect(2,truepos-5,canvas.width-4, canvas.height-truepos+10);
            d3.select("#pi-char").selectAll("*").remove();
            var svg= d3.select("#pi-char")
            var sitpi = 0;

            var lasttime = 0;
            sittingPeriods.forEach((e,i) => {
                var date = e.end_time.substring(0,10);
                if(date===chooseDate){
                    var start = e.start_time.substring(11,19)
                    var end = e.end_time.substring(11,19)
                    var startind = time2ind(start)
                    var endind = time2ind(end)
                    sitpi += endind-startind;
                    if(startind>lasttime){
                        ctx.beginPath();
                        ctx.moveTo(lasttime, falsepos);
                        ctx.lineTo(startind, falsepos);
                        ctx.lineTo(startind, truepos);
                        ctx.lineTo(endind, truepos);
                        ctx.lineTo(endind, falsepos)
                        ctx.stroke();
                        lasttime = endind;
                    }
                }
            });
            ctx.beginPath();
            ctx.moveTo(lasttime, truepos);
            ctx.lineTo(lasttime, falsepos)
            ctx.lineTo(21600, falsepos);
            ctx.stroke();
            
            console.log(sitpi)
            sitpi /= 21600;
            pidata = [['sit',sitpi*100], ['stand',100-sitpi*100]]

            var pie = d3.pie().sort(null).value((d)=>{
                return d[1]
            })
            var pieall = pie(pidata)
            console.log(pieall)

            var outerRadius = 200/ 2;
            var innerRadius = 80;
            var arc = d3.arc()
            .outerRadius(outerRadius)
            .innerRadius(innerRadius);

            var arcs = svg.selectAll('g')
              .data(pieall)
              .enter()
              .append('g')
              .attr('transform', 'translate(' + 200 / 2 + ',' + 200 / 2 + ')');
    
            var colors = ['red', 'blue'];
            arcs.append('path')
                .attr('fill', function(d, i){
                return colors[i];
                })
                .attr('d', function(d){
                return arc(d);
                });

        }

        function handledate(e){
            chooseDate = e.toString();
            document.getElementById("displaydata").innerText = "Current date: " + chooseDate;
            drawdata();
        }


        var sittingPeriods = JSON.parse({{ data | tojson }});

        sittingPeriods.sort((a,b)=>{
            return a.start_time.localeCompare(b.start_time);
        })

        drawdata();

        
    </script>
</body>
</html>